<template name="footer">
  <footer class="page-footer grey darken-4 white-text" id="footer">
    <div class="container" style="width:80% !important; padding-top:20px;">
      <div class="row">

        <div class="col m3">
          <a href="index.html">
            <img alt="logo" class="image-s" src="http://res.cloudinary.com/trys/image/upload/v1480159863/logo-trys-2-v1.2_txkd6b.png">
          </a>
        </div>

        <div class="col m3">
          <ul>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/">Accueil</a></h5></li>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/about">à&nbsp;propos</a></h5></li>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/contact-us">contactez-nous</a></h5></li>
            <li><br></li>
          </ul>
        </div>

        <div class="col m3">
          <ul>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/coaching/become">Devenir coach</a></h5></li>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/faq">FAQ</a></h5></li>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/join-us">Join Us</a></h5></li>
            <li><br></li>
          </ul>
        </div>

        <div class="col m3">
          Suivez-nous
          <ul class="list-inline">
            <a href="https://twitter.com/trys_be"><img width="44" height="47" src="http://s3.amazonaws.com/swu-filepicker/k8D8A7SLRuetZspHxsJk_social_08.gif" alt="twitter" /></a>
            <a href="https://www.facebook.com/trys.be"><img width="38" height="47" src="http://s3.amazonaws.com/swu-filepicker/LMPMj7JSRoCWypAvzaN3_social_09.gif" alt="facebook" /></a>
          </ul>
          <div class="divider"></div>
          <div class="">
            Powered by Start it @KBC<br>
            <a href="http://startit.be/">
              <img src="http://res.cloudinary.com/trys/image/upload/v1480429942/Logo/start-it-logo.png" style="width:40px;" alt="Start it @KBC" />
            </a>
          </div>
        </div>
      </div>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
          <i class="large material-icons">chat_bubble</i>
        </a>
        <ul>
          <li><a href="https://www.messenger.com/t/trys.be/" target="_blank" class="btn-floating blue"><img src="https://keyreply.com/chat/images/apps/facebook.svg" alt="facebook"></a></li>
          <li><a href="mailto:contact@trys.be" class="btn-floating green accent-3"><i class="material-icons">email</i></a></li>
          <li><a href="/contact-us" class="btn-floating cyan darken-2"><i class="material-icons">web</i></a></li>
        </ul>
      </div>

      <div class="center-align" style="font-size:14px;">

          <span>© Copyright 2016 Trys - Tous droits réservés. / Version 1.0.0</span><br>
          <button id="feedbackBtn" class="btn white" style="color:black;">Donner un feedback</button>

      </div>
    </div>
  </footer>
</template>
