<template name="footer">
  <footer class="page-footer cyan darken-3 white-text">
    <div class="container">
      <div class="row">

        <div class="col s3">
          <a href="index.html">
            <img alt="logo" class="image-s" src="http://res.cloudinary.com/trys/image/upload/v1479316560/logo-trys-2-v1_transp_cut_unyjvh.png">
          </a>
        </div>

        <div class="col m3 s3">
          <ul>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/">Accueil</a></h5></li>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/about">à&nbsp;propos</a></h5></li>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/contact-us">contactez-nous</a></h5></li>
            <li><br></li>
          </ul>
        </div>

        <div class="col m3 s3">
          <ul>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/coaching">Devenir coach</a></h5></li>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/faq">FAQ</a></h5></li>
            <li><h5 class="uppercase mb16 fade-on-hover"><a href="/join-us">Join Us</a></h5></li>
            <li><br></li>
          </ul>
        </div>

        <div class="col m3 s3">
          <p class="lead">Suivez-nous</p>
          <ul class="list-inline social-list">
            <li><a href="https://www.facebook.com/trys.be"><i class="ti-facebook"></i></a></li>
            <li><a href="https://twitter.com/trysapp?lang=fr"><i class="ti-twitter-alt"></i></a></li>
            <li><a href="https://www.linkedin.com/company/trys-belgium?trk=top_nav_home"><i class="ti-linkedin"></i></a> </li>

          </ul>
        </div>
      </div>

      <div class="footer-copyright">

          <span>© Copyright 2016 Trys - Tous droits réservés. / Version 0.2.1</span>

      </div>
    </div>
  </footer>
</template>
