<template name="mainParallax">
  <div class="section searchImg">
    <div class="container v-align-transform">
      <div class="row">
        <div class="col m10 push-m1 s12 center-align">
          <h3 class="mb8 uppercase white-text">Réservez votre place<br> <span class="animation-container">
                  <span class="words">yoga</span><b class="vh"></b>
                  <span class="words">・pilates</span><b class="vh"></b>
                  <span class="words">・tai chi</span>
                </span></h3>
                <h5 class="mb8 uppercase white-text">Et gagnez des cadeaux
                  en vous dépensant
                </h5>
          <div class="row">
            {{> searchbar}}
          </div>
        </div>
      </div>
    </div>
  </div>

  {{> lessonsExample}}

  {{> showingFeatures}}

  {{> newsletterForm}}
</template>

<template name="lessonsExample">
  <div class="section grey lighten-4">
    <div class="container">
      <center>
        <h3 class="feature-bloc">Les prochains cours</h3>
      </center>
      <div class="row">
        <ul>
          {{#each res in results}}
            <li class="col l4 m6 s12">
              {{>lessonCard res}}
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="showingFeatures">
  <div class="section">
    <div class="">
      <div class="row">
        <div class="col m6">
          <div class="row">
            <div class="col m4">
              <img alt="Accès facile" src="http://res.cloudinary.com/trys/image/upload/v1479746682/map_npdf8b.png">
            </div>
            <div class="col m8">
              <h5 class="uppercase bold mb16">Plus de recherches fastidieuses</h5>
              <p class="fade-1-4">
                Des coachs qui donnent des cours partout à Bruxelles et que vous pouvez trouver en un seul endroit. Voilà qui aide.
              </p>
            </div>
          </div>
        </div>

        <div class="col m6">
            <div class="row">
              <div class="col m4">
                <img alt="Récompenses" src="http://res.cloudinary.com/trys/image/upload/v1479746682/reward_bbaep0.png">
              </div>
              <div class="col m8">
                <h5 class="uppercase bold mb16">Rester motivé avec des cadeaux !</h5>
                <p class="fade-1-4">
                  Pour chaque cours, recevez des points et entrez ainsi dans l'arène. Hissez-vous dans le top 10% et recevez des cadeaux.
                </p>
              </div>
            </div>
        </div>

      </div>
      <div class="row">
        <div class="col m3"></div>
        <div class="col m6">
          <div class="row">
            <div class="col m4">
              <img alt="Responsable" src="http://res.cloudinary.com/trys/image/upload/v1479746682/responsable_dzam0h.png">
            </div>
            <div class="col m8">
              <h5 class="uppercase bold mb16">Avec une entreprise qui s'engage</h5>
              <p class="fade-1-4">
                Il ne s'agit pas seulement d'une plateforme, nous nous engageons avec nos coachs pour vous aider à devenir meilleur.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="newsletterForm">
  <div class="section cyan darken-2">
      <center class="feature-bloc-s">
        <div class="row firstRow ban-text">
          <div class="col l2 hide-on-small-only"></div>
          <div class="col l6 m12 s12">
            <span class="white-text">Vous êtes professeur de yoga, pilates ou tai chi ?</span>
          </div>
          <div class="col l2 m12 s12">
            <a href="/coaching/become" class="btn red accent-2 white-link">Découvrez Trys >></a>
          </div>
        </div>
      </center>
  </div>
</template>
