<template name="mainParallax">
  <section class="parallax-container">
    <div class="parallax">
      <img alt="image" src="http://res.cloudinary.com/trys/image/upload/v1479201302/vent5-2_wozlvc.jpg">
    </div>
    <div class="container v-align-transform">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
          <h2 class="mb8"><strong>De l'exercice.</strong> Trouvez des cours
                     de Yoga, Pilates ou Tai Chi à Bruxelles
                     et détendez-vous.</h2>
          <div class="row">
            {{> searchbar}}
          </div>
        </div>
      </div>

    </div>

  </section>
</template>

<template name="lessonsExample">
  <div class="container">
    <div class="row">
      <div class="col m4">
        <div class="card">
          <div class="card-title">
            Card 1
          </div>
          <div class="card-content">
            This is a card-content.
          </div>
        </div>
      </div>

      <div class="col m4">
        <div class="card">
          <div class="card-title">
            Card 2
          </div>
          <div class="card-content">
            This is a card-content.
          </div>
        </div>
      </div>

      <div class="col m4">
        <div class="card">
          <div class="card-title">
            Card 3
          </div>
          <div class="card-content">
            This is a card-content.
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="newsletterForm">

</template>
