<template name="navbar">
  <ul id="languages" class="dropdown-content">
    <li><a href="#!">{{_ "nav.lang.french"}}</a></li>
    <li><a href="#!">{{_ "nav.lang.dutch"}}</a></li>
    <li><a href="#!">{{_ "nav.lang.english"}}</a></li>
  </ul>
  {{#if isCoach id=currentUser }}
    {{> navbarCoach}}
  {{else}}
    {{> navbarUser}}
  {{/if}}

</template>

<template name="navbarCoach">
  <nav class="white-text cyan darken-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img alt="logo" class="image-xs" style="margin:5px 0px 5px 5px;" src="http://res.cloudinary.com/trys/image/upload/v1480159863/logo-trys-2-v1.2_txkd6b.png"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/ranking"><i class="material-icons left">assessment</i>{{_ "nav.ranking"}}</a></li>
        <li><a href="/profile"><i class="material-icons left">account_circle</i>{{_ "nav.profile"}}</a></li>
          <li><a href="/coaching/panel"><i class="material-icons left">dashboard</i>{{_ "nav.coachPanel"}}</a></li>
          <li><a href="#" class="logoutLink"><i class="fa fa-sign-out left" aria-hidden="true"></i>{{_ "nav.logout"}}</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
          <li><a href="/ranking"><i class="material-icons left">assessment</i>{{_ "nav.ranking"}}</a></li>
          <li><a href="/profile"><i class="material-icons left">account_circle</i>{{_ "nav.profile"}}</a></li>
          <li><a href="/coaching/panel"><i class="material-icons left">dashboard</i>{{_ "nav.coachPanel"}}</a></li>
          <li><a href="#" class="logoutLink"><i class="fa fa-sign-out left" aria-hidden="true"></i>{{_ "nav.logout"}}</a></li>
        </ul>
      </div>
    </nav>
    <script>
       $(".button-collapse").sideNav();
    </script>
</template>

<template name="navbarUser">
  {{#if currentUser}}
  <nav class="white-text cyan darken-2">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><img alt="logo" class="image-xs" style="margin:5px 0px 5px 5px;" src="http://res.cloudinary.com/trys/image/upload/v1480159863/logo-trys-2-v1.2_txkd6b.png"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul  class="right hide-on-med-and-down">
        <li><a href="/ranking"><i class="material-icons left">assessment</i>{{_ "nav.ranking"}}</a></li>
        <li><a href="/profile"><i class="material-icons left">account_circle</i>{{_ "nav.profile"}}</a></li>
          <li><a href="#" class="logoutLink"><i class="fa fa-sign-out left" aria-hidden="true"></i>{{_ "nav.logout"}}</a></li>
      </ul>
      <ul id="mobile-demo" class="side-nav">
        <li><a href="/ranking"><i class="material-icons left">assessment</i>{{_ "nav.ranking"}}</a></li>
        <li><a href="/profile"><i class="material-icons left">account_circle</i>{{_ "nav.profile"}}</a></li>
          <li><a href="#" class="logoutLink"><i class="fa fa-sign-out left" aria-hidden="true"></i>{{_ "nav.logout"}}</a></li>
        </ul>
      </div>
    </nav>
    <script>
       $(".button-collapse").sideNav();
    </script>
  {{else}}
    <nav class="white-text cyan darken-2">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center-align" style="margin:5px 0px 5px 5px;"><img alt="logo" class="image-xs" src="http://res.cloudinary.com/trys/image/upload/v1480159863/logo-trys-2-v1.2_txkd6b.png"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul  class="right hide-on-med-and-down">
          <li><a href="/login">{{_ "nav.signup"}}</a></li>
          <li><a href="/signup" class="btn waves-effect waves-light red accent-2">{{_ "nav.login"}}</a></li>
          <li><a href="/coaching/become">{{_ "nav.becomeCoach"}}</a></li>

        </ul>
        <ul id="mobile-demo" class="side-nav">
            <li><a href="/login">{{_ "nav.signup"}}</a></li>
            <li><a href="/signup" class="btn waves-effect waves-light red accent-2">{{_ "nav.login"}}</a></li>
            <li><a href="/coaching/become">{{_ "nav.becomeCoach"}}</a></li>
          </ul>
        </div>
      </nav>
      <script>
         $(".button-collapse").sideNav();
      </script>
    {{/if}}
</template>

<template name="navbarAdmin">

</template>
