/****** PLACE YOUR CUSTOM STYLES HERE ******/

.menu-item-panel{
  font-size:3vh;
  padding-top:5px;
  padding-bottom:3px;
}
.menu-coach-panel{
  background-color:#292929 !important;
  color:#ffffff !important;
}

.clickable {
    cursor: pointer;
}

.clickable:hover{
  background-color:#f5f5f5;
}

.letter-circle{
  border-radius: 18px;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */

  width: 36px;
  height: 36px;
  padding: 8px;
  font-weight: 800;
  background: #0097A7;
  color: #ffffff;
  text-align: center;
}

#leftPanel{

    text-align: center;
}

#rightPanel{
    min-height:415px;
    padding-left:10px;
}

.icon{
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 78px;
  border-radius: 40px;
  border: solid 3px #9797A7;
  color: #9797A7 !important;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  font-size: 40px !important;
  margin: 0 auto 40px;
  text-align: center;
}

.icon-white{
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 78px;
  border-radius: 40px;
  border: solid 3px #fff;
  color: #fff !important;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  font-size: 40px !important;
  margin: 0 auto 40px;
  text-align: center;
}

.icon-s{
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 57px;
  border-radius: 30px;
  border: solid 2px #9797A7;
  color: #9797A7 !important;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  transition: all .2s ease-out;
  font-size: 30px !important;
  margin: 0 auto 30px;
  text-align: center;
}

.img-resp {
    padding-top: 10%;
    width:100%;
}

.ib{
  display:inline-block;
}

.feature-bloc{
  padding:3%;
  padding-bottom:2%;
}

.feature-coach-left{
  padding-right:5%;
  padding-left:10%;
  margin-top:5%;
  /*color:#424242;*/
  color:#000;
  /*background-color:#fafafa;*/
  background-color:#fff;
  font-family:'Roboto' !important;
}

.feature-coach-right{
  padding-right:10%;
  padding-left:5%;
  margin-top:5%;
  /*color:#424242;*/
  color:#000;
  /*background-color:#fafafa;*/
  background-color:#fff;
  font-family:'Roboto' !important;
}

.justify{
  text-align: justify;
  text-justify: inter-word;
}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  }

.card-location{
text-align:right;
  font-size: 15px;
  vertical-align: middle;
clear:left;
display:inline-block;
}

.card-elem-light{

  color:grey;
}

.card-category{
  padding-top:0;
  padding-bottom:0;
}
.card-title{
  padding-bottom:0;
  margin-bottom:0;
}

.image-s{
  width:60%;

}

.image-newsletter{
  background-color:#0097A7;

}

.btn {
  min-width:10px !important;
}

.btn-border-2{
  border-radius : 2px !important;
}

.btn-1
{
  background-color: #FF5252;
  text-decoration-color: white;
  border : 0px;
}

.btn-1:hover
{
  background-color: #FF1744;
  text-decoration-color: white;
}

.searchImg{
  height:90vh;
  width:100vw;
  background: -moz-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/trys/image/upload/v1483362193/Yoga-Class-Picture-2_z42ejp.jpg) no-repeat center center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/trys/image/upload/v1483362193/Yoga-Class-Picture-2_z42ejp.jpg) no-repeat center center;
  background: -o-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/trys/image/upload/v1483362193/Yoga-Class-Picture-2_z42ejp.jpg) no-repeat center center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4)), url(https://res.cloudinary.com/trys/image/upload/v1483362193/Yoga-Class-Picture-2_z42ejp.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.lesson-card-img {
  height:100%
}

.point-icon{

}
.point-font{
  font-size:1.3em;
}

.priceReservationCard{
  font-weight: bold;
  color:white;
  font-size:36px;
  font:"Roboto";
  padding-top:32px;
  padding-right:16px;
  padding-left:16px;
}

.ulReservationCard li{
  padding:4px 4px 30px 11px !important;
  line-height:20px !important;
}

.ulReservationCard.material-icons{
  font-size:18px !important;
}

.firstRow{
  margin-bottom: 0px !important;
}

.linkCard{
  color:#FF5252;
}

.searchbarMain{
  background-color:white !important;
  border-radius:2px !important;
}

#myProgress {
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius:6px 6px 6px 6px;
}
#myBar {
    position: absolute;
    height: 100%;
    background-color: #9797A7;
    border-radius:6px 6px 6px 6px;
}
#labelProgressBar {
    text-align: center;
    line-height: 20px;
    color: white;
}


footer a {
  color : white !important;
}

footer{
  margin-top:0px !important;
}


/****** Custom modal ******/
.custom-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.custom-modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.custom-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.custom-modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.custom-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
